<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма пользователя</title>
</head>
<body>
<h1>Форма пользователя</h1>
<form th:action="@{/users}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Имя:</label>
    <input type="text" th:field="*{firstName}" /><br/>
    <label>Фамилия:</label>
    <input type="text" th:field="*{lastName}" /><br/>
    <label>Возраст:</label>
    <input type="number" th:field="*{age}" /><br/>
    <label>Номер группы:</label>
    <input type="text" th:field="*{groupNumber}" /><br/>
    <button type="submit">Сохранить</button>
</form>
<a href="/users">Назад</a>
</body>
</html>
